# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.egg-info/
.eggs/
.venv/
venv/
.env
.env.*

# Node/Frontend
node_modules/
dist/
build/
*.log

# IDE / OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# Coverage / Reports
htmlcov/
coverage.xml
*.cover
*.py,cover
*.lcov

# Misc
*.sqlite3
*.db

# Ignore profile uploads
backend/app/uploads/

temp/

test.json

*.db
*.db-shm
*.db-wal